body {
	background: #fff;
	color: #5f5f5f;
	font-family: "Roboto Condensed";
	font-size: 13px;
	text-align: center;
	margin: auto;
}
a {
	color: #0092dd;
}

header {
	height: 120px;
	margin-top: 20px;
}
.clearfix {
	clear: both;
	

}


header .logo {
	float: left;
	margin-left: 20px;
	margin-right: 80px;
}
 
header .form {
	float: left;
}
header .form input {
	border: none;
	width: 150 px;
}
header .form button {
	border: none;

}
header .menu {
	position: auto;
	margin-top: 15px;
	border-top: solid 2px gray;
	border-bottom: solid 2px gray;
	padding: 10px;
}
header .menu ul li {
	float: left;
	list-style-type:none;
	position: relative; /*cố định li*/
	text-align: cennter;
	letter-spacing: 1px;
    text-transform: uppercase;
	padding-right: 30px;
	padding-left: 30px;
}
header .menu ul li a {
	color: #434343;
	text-decoration: none;
	display: inline-block;
	
}
header .menu ul li a span {
	border-radius: 5px 5px 0 0;
	padding: 15px;
	display: inline-block;
}
header .menu ul li a:hover, header .menu ul li a.current {
	border-bottom: solid 4px black;
}
header .menu ul li a:hover span, header .menu ul li a.current span {
	border-top: solid 1px #fff;
}

.main {
	margin-top: 2px;
	border-bottom: solid 1px #e1e1e1;
	overflow: hidden;
	height: 500 px;
	line-height: 500px;
}
.main-content{
	padding:0px;
	margin:0px;
	height:40px;
 }
.guide-container{
	float: left;
	border : solid 2px gray;
	width: 250px;
}

.main-container {
	float: left;
	border : solid 2px gray;
	width: 600px;
	margin-left:5px;
	margin-right: 5px;
}
 .list-container {
	float: left;
	border : solid 2px gray;
	width: 250px;
 }
 
footer {
	background: gray;
	border-top: solid 6px #efefef;
	
	color: #fff;
	line-height: 90px;
}
